Client/Service References/ServiceReference1/ServerService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Server" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Server" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PatientReminder">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Reminders" nillable="true" type="tns:ArrayOfReminderBase" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PatientReminder" nillable="true" type="tns:PatientReminder" />
  <xs:complexType name="ArrayOfReminderBase">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReminderBase" nillable="true" type="tns:ReminderBase" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReminderBase" nillable="true" type="tns:ArrayOfReminderBase" />
  <xs:complexType name="ReminderBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="ReminderAction" type="tns:ReminderActionType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReminderBase" nillable="true" type="tns:ReminderBase" />
  <xs:simpleType name="ReminderActionType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="AppointmentSmsSend" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ReminderActionType" nillable="true" type="tns:ReminderActionType" />
  <xs:complexType name="AppoinmentSmsSend">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ReminderBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Phonenumber" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AppoinmentSmsSend" nillable="true" type="tns:AppoinmentSmsSend" />
</xs:schema>